In [68]:
import pandas as pd


railworkers_df = pd.read_excel('Sources/Dispatchers_Background_Data.xls')

# Display the first few rows of the DataFrame
railworkers_df.head()

,ID,Age_Group,Sex,Total_years_dispatcher,Total_years_present_job,Job_type,Marital_Status,Childrendependents,Children_under_2_yrs,Caff_Beverages,...,Scanty_Rules,Mgmt_policies,Job_Security,Surges_in_work,Communication,Inadeq_Staff,Resp_for_others_safety,BreakTime,TimeOff,Total_life_events
0,2,2.0,1.0,6.750000,6.750000,1.0,1.0,0.0,0.0,1.0,...,4.0,3.0,1.0,3.0,1.0,3.0,2.0,3.0,4.0,1.0
1,4,4.0,1.0,29.750000,25.750000,1.0,1.0,4.0,0.0,1.0,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0
2,7,4.0,1.0,26.916667,4.000000,1.0,2.0,2.0,0.0,1.0,...,3.0,3.0,1.0,3.0,2.0,2.0,3.0,2.0,2.0,0.0
3,10,3.0,2.0,1.833333,0.833333,1.0,2.0,5.0,0.0,1.0,...,2.0,2.0,2.0,2.0,1.0,1.0,4.0,3.0,3.0,3.0
4,12,4.0,1.0,28.583333,13.000000,1.0,2.0,2.0,0.0,1.0,...,4.0,4.0,3.0,4.0,3.0,3.0,3.0,4.0,2.0,2.0

In [69]:
railworkers_df.dtypes

ID                           object
Age_Group                   float64
Sex                         float64
Total_years_dispatcher      float64
Total_years_present_job     float64
Job_type                    float64
Marital_Status              float64
Childrendependents          float64
Children_under_2_yrs        float64
Caff_Beverages              float64
If_yes_how_many_daily       float64
Sick_Days_in_last_year      float64
Health_status               float64
Older_Younger_or_Same       float64
Diagnosed_Sleep_disorder    float64
Sleep_Apnea                 float64
Medical_treatment           float64
SunStart_Time                object
MonStart_Time                object
TuesStart_Time               object
WedStart_Time                object
ThuStart_Time                object
FriStart_Time                object
SatStart_Time                object
SunEnd_Time                  object
MonEnd_Time                  object
TuesEnd_Time                 object
WedEnd_Time                  object
ThuEnd_Time                  object
FriEnd_Time                  object
SatEnd_Time                  object
job_schedule                float64
Relief_schedule              object
Avg_Work_Hrs_Week           float64
FRA_report                  float64
Alert_at_Work               float64
Mentally_Drained            float64
Phys_Drained                float64
Emergencies                 float64
Lack_of_control             float64
Sleep_loss                  float64
Coord_other_depts           float64
Job_pressure                float64
Scanty_Rules                float64
Mgmt_policies               float64
Job_Security                float64
Surges_in_work              float64
Communication               float64
Inadeq_Staff                float64
Resp_for_others_safety      float64
BreakTime                   float64
TimeOff                     float64
Total_life_events           float64
dtype: object

In [70]:
print(railworkers_df['SunStart_Time'])

0      14:30:00
1           NaN
2           NaN
3           NaN
4      22:30:00
         ...
440    06:45:00
441    07:00:00
442         NaN
443         NaN
444         NaN
Name: SunStart_Time, Length: 445, dtype: object

In [75]:
# List of columns to convert to datetime
time_columns = [
    'SunStart_Time', 'MonStart_Time', 'TuesStart_Time', 'WedStart_Time',
    'ThuStart_Time', 'FriStart_Time', 'SatStart_Time',
    'SunEnd_Time', 'MonEnd_Time', 'TuesEnd_Time', 'WedEnd_Time',
    'ThuEnd_Time', 'FriEnd_Time', 'SatEnd_Time'
]





# Step 1: Convert time columns to 12-hour format, preserving NaT and blank entries
def convert_to_12_hour_format(time_str):
    if pd.isna(time_str) or time_str == 'NaT':
        return time_str  # Preserve NaT or None (keep blanks)
    
    # Convert to datetime and then format to 12-hour
    try:
        # Using %H:%M:%S for the input format as it contains seconds
        return pd.to_datetime(time_str, format='%H:%M:%S').strftime('%I:%M %p')
    except ValueError:
        return time_str  # If conversion fails, return the original string

# Apply the conversion function to each time column
for col in time_columns:
    railworkers_df[col] = railworkers_df[col].apply(convert_to_12_hour_format)

# Check the DataFrame after conversion
print("\nDataFrame After Conversion to 12-hour Format:")
print(railworkers_df[time_columns])

DataFrame After Conversion to 12-hour Format:
    SunStart_Time MonStart_Time TuesStart_Time WedStart_Time ThuStart_Time  \
0        02:30 PM           nan            nan      02:30 PM      02:30 PM
1             nan           nan       06:30 AM      06:30 AM      06:30 AM
2             nan      07:00 AM       07:00 AM      07:00 AM      07:00 AM
3             nan           nan            nan           nan           nan
4        10:30 PM      10:30 PM       10:30 PM      10:30 PM      10:30 PM
..            ...           ...            ...           ...           ...
440      06:45 AM           nan            nan      06:45 AM      06:45 AM
441      07:00 AM      07:00 AM       03:00 PM      03:00 PM      11:00 PM
442           nan           nan       07:00 AM      07:00 AM      07:00 AM
443           nan           nan            nan           nan           nan
444           nan           nan            nan           nan           nan

    FriStart_Time SatStart_Time SunEnd_Time MonEnd_Time TuesEnd_Time  \
0        02:30 PM      02:30 PM    10:30 PM         nan          nan
1        06:30 AM      06:30 AM         nan         nan     03:00 PM
2        07:00 AM           nan         nan    03:10 PM     03:10 PM
3             nan           nan         nan         nan          nan
4             nan           nan    06:30 AM    06:30 AM     06:30 AM
..            ...           ...         ...         ...          ...
440      06:45 AM      06:45 AM    03:00 PM         nan          nan
441           nan           nan    03:00 PM    03:00 PM     11:00 PM
442      07:00 AM      07:00 AM         nan         nan     03:00 PM
443           nan           nan         nan         nan          nan
444           nan           nan         nan         nan          nan

    WedEnd_Time ThuEnd_Time FriEnd_Time SatEnd_Time
0      10:30 PM    10:30 PM    10:30 PM    10:30 PM
1      02:50 PM    02:50 PM    02:50 PM    02:50 PM
2      03:10 PM    03:10 PM    03:10 PM         nan
3           nan         nan         nan         nan
4      06:30 AM    06:30 AM         nan         nan
..          ...         ...         ...         ...
440    03:00 PM    03:00 PM    03:00 PM    03:00 PM
441    11:00 PM    07:00 AM         nan         nan
442    03:00 PM    03:00 PM    03:00 PM    03:00 PM
443         nan         nan         nan         nan
444         nan         nan         nan         nan

[445 rows x 14 columns]

In [76]:
print(railworkers_df['SunStart_Time'])

0      02:30 PM
1           nan
2           nan
3           nan
4      10:30 PM
         ...
440    06:45 AM
441    07:00 AM
442         nan
443         nan
444         nan
Name: SunStart_Time, Length: 445, dtype: object

In [77]:
#Convert all float64 columns to integers
float_cols = railworkers_df.select_dtypes(include=['float64']).columns

for col in float_cols:
    # Fill NaN values with 0 (or any other appropriate value) before conversion
    railworkers_df[col].fillna(0, inplace=True)
    railworkers_df[col] = railworkers_df[col].astype(int)

# Display the first few rows to confirm changes
print(railworkers_df.head())

# Check data types after conversion
print(railworkers_df.dtypes)

   ID  Age_Group  Sex  Total_years_dispatcher  Total_years_present_job  \
0   2          2    1                       6                        6
1   4          4    1                      29                       25
2   7          4    1                      26                        4
3  10          3    2                       1                        0
4  12          4    1                      28                       13

   Job_type  Marital_Status  Childrendependents  Children_under_2_yrs  \
0         1               1                   0                     0
1         1               1                   4                     0
2         1               2                   2                     0
3         1               2                   5                     0
4         1               2                   2                     0

   Caff_Beverages  ...  Scanty_Rules  Mgmt_policies  Job_Security  \
0               1  ...             4              3             1
1               1  ...             1              1             1
2               1  ...             3              3             1
3               1  ...             2              2             2
4               1  ...             4              4             3

   Surges_in_work  Communication  Inadeq_Staff  Resp_for_others_safety  \
0               3              1             3                       2
1               1              2             1                       1
2               3              2             2                       3
3               2              1             1                       4
4               4              3             3                       3

  BreakTime TimeOff Total_life_events
0         3       4                 1
1         1       1                 1
2         2       2                 0
3         3       3                 3
4         4       2                 2

[5 rows x 53 columns]
ID                          object
Age_Group                    int64
Sex                          int64
Total_years_dispatcher       int64
Total_years_present_job      int64
Job_type                     int64
Marital_Status               int64
Childrendependents           int64
Children_under_2_yrs         int64
Caff_Beverages               int64
If_yes_how_many_daily        int64
Sick_Days_in_last_year       int64
Health_status                int64
Older_Younger_or_Same        int64
Diagnosed_Sleep_disorder     int64
Sleep_Apnea                  int64
Medical_treatment            int64
SunStart_Time               object
MonStart_Time               object
TuesStart_Time              object
WedStart_Time               object
ThuStart_Time               object
FriStart_Time               object
SatStart_Time               object
SunEnd_Time                 object
MonEnd_Time                 object
TuesEnd_Time                object
WedEnd_Time                 object
ThuEnd_Time                 object
FriEnd_Time                 object
SatEnd_Time                 object
job_schedule                 int64
Relief_schedule             object
Avg_Work_Hrs_Week            int64
FRA_report                   int64
Alert_at_Work                int64
Mentally_Drained             int64
Phys_Drained                 int64
Emergencies                  int64
Lack_of_control              int64
Sleep_loss                   int64
Coord_other_depts            int64
Job_pressure                 int64
Scanty_Rules                 int64
Mgmt_policies                int64
Job_Security                 int64
Surges_in_work               int64
Communication                int64
Inadeq_Staff                 int64
Resp_for_others_safety       int64
BreakTime                    int64
TimeOff                      int64
Total_life_events            int64
dtype: object

/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)
/var/folders/yx/mscwdl4d42xd49b1zt9vkbph0000gn/T/ipykernel_2957/1720397478.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  railworkers_df[col].fillna(0, inplace=True)

In [78]:
# Remove a single column
railworkers_df.drop('Older_Younger_or_Same', axis=1, inplace=True)

In [79]:
print(railworkers_df.dtypes)

ID                          object
Age_Group                    int64
Sex                          int64
Total_years_dispatcher       int64
Total_years_present_job      int64
Job_type                     int64
Marital_Status               int64
Childrendependents           int64
Children_under_2_yrs         int64
Caff_Beverages               int64
If_yes_how_many_daily        int64
Sick_Days_in_last_year       int64
Health_status                int64
Diagnosed_Sleep_disorder     int64
Sleep_Apnea                  int64
Medical_treatment            int64
SunStart_Time               object
MonStart_Time               object
TuesStart_Time              object
WedStart_Time               object
ThuStart_Time               object
FriStart_Time               object
SatStart_Time               object
SunEnd_Time                 object
MonEnd_Time                 object
TuesEnd_Time                object
WedEnd_Time                 object
ThuEnd_Time                 object
FriEnd_Time                 object
SatEnd_Time                 object
job_schedule                 int64
Relief_schedule             object
Avg_Work_Hrs_Week            int64
FRA_report                   int64
Alert_at_Work                int64
Mentally_Drained             int64
Phys_Drained                 int64
Emergencies                  int64
Lack_of_control              int64
Sleep_loss                   int64
Coord_other_depts            int64
Job_pressure                 int64
Scanty_Rules                 int64
Mgmt_policies                int64
Job_Security                 int64
Surges_in_work               int64
Communication                int64
Inadeq_Staff                 int64
Resp_for_others_safety       int64
BreakTime                    int64
TimeOff                      int64
Total_life_events            int64
dtype: object

In [80]:
railworkers_df['ID'] = pd.to_numeric(railworkers_df['ID'], errors='coerce').astype('Int64')  # Using Int64 for nullable integer

In [81]:
railworkers_df['ID'].count

<bound method Series.count of 0         2
1         4
2         7
3        10
4        12
       ...
440     960
441     961
442     963
443    <NA>
444    <NA>
Name: ID, Length: 445, dtype: Int64>

In [82]:
# Remove rows that contain the specific phrase
railworkers_df.drop([443, 444], inplace=True)

In [83]:
railworkers_df['ID'].count

<bound method Series.count of 0        2
1        4
2        7
3       10
4       12
      ...
438    956
439    959
440    960
441    961
442    963
Name: ID, Length: 443, dtype: Int64>

In [88]:
railworkers_df

,ID,Age_Group,Sex,Total_years_dispatcher,Total_years_present_job,Job_type,Marital_Status,Childrendependents,Children_under_2_yrs,Sick_Days_in_last_year,...,Phys_Drained,Emergencies,Lack_of_control,Sleep_loss,Job_pressure,Job_Security,Surges_in_work,Communication,TimeOff,Total_life_events
0,2,2,1,6,6,1,1,0,0,1,...,1,3,2,2,2,1,3,1,4,1
1,4,4,1,29,25,1,1,4,0,0,...,1,1,1,1,1,1,1,2,1,1
2,7,4,1,26,4,1,2,2,0,0,...,3,2,3,2,2,1,3,2,2,0
3,10,3,2,1,0,1,2,5,0,1,...,2,4,3,3,1,2,2,1,3,3
4,12,4,1,28,13,1,2,2,0,1,...,3,4,2,4,4,3,4,3,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,956,4,1,29,29,1,1,0,0,6,...,3,2,1,1,2,1,1,1,1,0
439,959,3,1,16,16,1,2,2,0,2,...,2,2,2,2,4,2,4,3,2,0
440,960,4,1,14,13,2,2,0,0,7,...,2,2,1,2,3,1,3,3,1,1
441,961,4,1,24,6,1,2,3,0,10,...,2,3,1,2,3,3,3,3,2,1
442,963,4,1,17,17,1,2,0,0,7,...,2,2,3,3,3,2,3,3,3,0

In [89]:
 # make a copy of cleaned dataframe
railworkers_cleaned= railworkers_df.copy()